/*
Theme Name: 	Mazzocca
Theme URI: 		https://bitbucket.org/mccutcheonk/mazzocca
Description: 	Theme for Mazzocca Contemporary Paintings, based on Starkers
Version: 		2.4
Author: 		Killian McCutcheon
Author URI: 	https://bitbucket.org/mccutcheonk
Tags: 			mazzocca, galerie
*/

/*
===========================
CONTENTS:

01 Sensible defaults
02 Typography
03 Media queries 
===========================
*/

/* ---------------------------------------------------------------------------------------------------------- 
01 Sensible defaults ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

@import "css/reset.css";

div,
.article,
.section,
#header,
#footer,
nav,
li					{ position:relative; /* For absolutely positioning elements within containers (add more to the list if need be) */ }
.group:after 		{ display:block; height:0; clear:both; content:"."; visibility:hidden; /* For clearing */ }
body 				{ background:#fff; /* Don't forget to style your body to avoid user overrides */ }
::-moz-selection 	{ background:#ff0; color:#333; }
::selection 		{ background:#ff0; color:#333; }

.clear {
	clear: both;
}
/* ---------------------------------------------------------------------------------------------------------- 
02 Typography -----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/*

14 / 16	= 		0.875em 		(14px equivalent)
16 / 16	= 		1em 			(16px equivalent)
18 / 16 = 		1.125em 		(18px equivalent)
21 / 16 = 		1.3125em 		(21px equivalent)
24 / 16 = 		1.5em 			(24px equivalent)
30 / 16 = 		1.875em 		(30px equivalent)

*/

@font-face {
    font-family: 'gotham_probold';
    src: url('fonts/gothaprobol-webfont.eot');
    src: url('fonts/gothaprobol-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothaprobol-webfont.woff') format('woff'),
         url('fonts/gothaprobol-webfont.ttf') format('truetype'),
         url('fonts/gothaprobol-webfont.svg#gotham_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_proregular';
    src: url('fonts/gothaproreg-webfont.eot');
    src: url('fonts/gothaproreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothaproreg-webfont.woff') format('woff'),
         url('fonts/gothaproreg-webfont.ttf') format('truetype'),
         url('fonts/gothaproreg-webfont.svg#gotham_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_prolight';
    src: url('fonts/gothaprolig-webfont.eot');
    src: url('fonts/gothaprolig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothaprolig-webfont.woff') format('woff'),
         url('fonts/gothaprolig-webfont.ttf') format('truetype'),
         url('fonts/gothaprolig-webfont.svg#gotham_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'Georgia', serif;
}

a {
    font-family: 'gotham_proregular', Arial, Helvetica, sans-serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 					{ /*font-weight:bold;*/ /* This helps to identify headings at the initial build stage, but you should write something more precise later on */ }

strong {
    font-family: 'Georgia Bold', serif;
}

body {
    background-color: #F8F8F8;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 40px;
	font-size: 13px;
	color: #444;
}

body a {
	color: #444;
	text-decoration: none;
}

a:hover {
	color: #FFF;
    background-color: blue;
}

#logo-container a:hover {
    color: #F8F8F8;
    background-color: #F8F8F8;
}

#header  {
	width: 1000px;
	display: block;
    margin-bottom: 20px;
}

#header div {
    display: inline;
}

#header .hr {
    margin-top: 10px;
    float: left;
    clear: both;
    height: 1px;
    width: 100%;
    background: #444;
}

#header .hr hr {
    display: none;
}

#navi {
    width: 600px;
    position: absolute;
    bottom: 16px;
    right: 0px;
}

#navi ul {
    float: right;
    list-style: none;
    text-align: justify;
    width: 100%;
    display: table;
    border: 0;
    padding: 0;
}

#navi li {
    display: table-cell;
    border: 0;
    padding: 0;
    text-align: center;
}

#navi li:first-child {
    text-align: left;
}

#navi li:last-child {
    text-align: right;
}

.current-menu-item a {
    color: blue;
 	font-family: 'gotham_probold', Arial, Helvetica, sans-serif;
}

.current-menu-item a:hover {
    background-color: blue;
    color: #FFF;
}

.current-post-ancestor a {
    color: blue;
 	font-family: 'gotham_probold', Arial, Helvetica, sans-serif;
}

.current-post-ancestor a:hover {
    background-color: blue;
    color: #FFF;
}

#header h1 {
	font-size: 13px;
	margin-top: 90px;
	margin-bottom: 20px;
}

#footer {
	margin-top: 60px;
	margin-bottom: 30px;
	font-size: 10px;
	float: bottom;
}

.post-list {
    float: left;
    width: 280px;
	margin-bottom: 60px;
    margin-right: 85px;
}

.post-list li {
    padding-bottom: 16px;
}

.post-list .hr {
    height: 1px;
    width: 100%;
    background: #444;
}

.post-list .hr hr {
    display: none;
}

.current-post-info h2 {
	font-family: 'gotham_proregular', Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 12px;
    margin-bottom: 16px;
}

.inactive-post-link a {
    color: #BBB;
}

#artist-info {
	padding-bottom: 20px;
}

#caption {
    margin-bottom: 16px;
}

#post-content {
    min-width: 635px;
    margin-left: 400px;
    padding: 0;
}

.artist-content {
    max-width: 1200px;
    white-space: nowrap;
}

.exhibition-content {
    max-width: 635px;
}

#slides {
	display: inline-block;
	vertical-align: top;
    min-width: 600px;
    max-width: 90%;
}

#slides img {
	max-width: 100%;
	height: auto;
	position: relative;
}

.arrow {
    display: none; /*inline-block; set by javascript when page loads*/
    padding-top: 225px;
    padding-bottom: 225px;
    z-index: 100; /*allows area overlapping image to be clicked*/
}

#prev-container {
    padding-left: 25px;
    padding-right: 225px;
    margin-left: -65px;
    margin-right: -200px;
}

#next-container {
    padding-left: 225px;
    padding-right: 25px;
    margin-left: -200px;
}

#catalogue {
    width: 280px;
    margin-top: 60px;
}

#catalogue-link {
    padding-top: 16px;
    padding-bottom: 16px;
}

#catalogue .hr {
    height: 1px;
    width: 100%;
    background: #444;
}

#catalogue .hr hr {
    display: none;
}

